body {
    margin: 0;
}

nav {
    background-color: #d2f4bb;
    padding: 0.5rem 2rem;
}

#nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 1.5rem 1.5rem;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #e9f8e0;
    cursor: pointer;
}

.front {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
    font-size: 3rem;
    font-family: Helvetica;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 128, 0, 0.4), rgba(0, 128, 0, 0.4)),
        url('https://i.pinimg.com/originals/3e/fe/1c/3efe1cb845954233246f60d5d8395dd0.gif');
    color: #f5f2d3;
}

#video-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
    background-color: #d2f4bb;
    height: 100vh;
    position: relative;
    justify-content: center;
}

video {
    width: 60vw;
    height: 50vh;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 0 12px #0008;
    margin: 0;
    border-style: inset;
}

#camera-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    width: 8rem;

}

.button {
    background-color: #65e687;
    border: none;
    color: #558762;
    padding: 2rem 5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-style: outset;
}

.button:hover {
    background-color: #558762;
    color: #65e687;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    color: black;
}